


set default=0
set timeout=6
splashimage=/grub/android-x86.xpm.gz

insmod lvm
insmod ext2
insmod gzio
insmod part_gpt
insmod fat
insmod lvm

# vdsknba2fXandroid01

root='(lvm/avg-boot)'

menuentry "Android-x86 9.0-r2 (LVM /system, optional /data)" {
    # Point GRUB to the LV that contains /android-x86/kernel
    # set root='lvm/<VG-name>-Android--system'  # adjust to your VG/LV; note the dash escaping
    set root='(lvm/avg-boot)'   # adjust to your VG/LV; note the dash escaping
    linux /kernel root=/dev/ram0 VOLUME=avg SRC=/android-9.0-r2 androidboot.selinux=permissive
    # (Optionally include other params you use, e.g. nomodeset, DPI, etc.)
    initrd /initrd-lvm.img
}


menuentry "Android-x86 9.0-r2 (Debug mode) (LVM /system, optional /data)" {
    # Point GRUB to the LV that contains /android-x86/kernel
    # set root='lvm/<VG-name>-Android--system'  # adjust to your VG/LV; note the dash escaping
    set root='(lvm/avg-boot)'   # adjust to your VG/LV; note the dash escaping
    linux /kernel root=/dev/ram0 VOLUME=avg DEBUG=2 SRC=/android-9.0-r2 androidboot.selinux=permissive
    # (Optionally include other params you use, e.g. nomodeset, DPI, etc.)
    initrd /initrd-lvm.img
}

menuentry "Android-x86 9.0-r2 (Debug nomodeset) (LVM /system, optional /data)" {
    # Point GRUB to the LV that contains /android-x86/kernel
    # set root='lvm/<VG-name>-Android--system'  # adjust to your VG/LV; note the dash escaping
    set root='(lvm/avg-boot)'   # adjust to your VG/LV; note the dash escaping
    linux /kernel nomodeset root=/dev/ram0 VOLUME=avg DEBUG=2 SRC=/android-9.0-r2 androidboot.selinux=permissive
    # (Optionally include other params you use, e.g. nomodeset, DPI, etc.)
    initrd /initrd-lvm.img
}

menuentry "Android-x86 9.0-r2 (Debug video=LVDS-1:d) (LVM /system, optional /data)" {
    # Point GRUB to the LV that contains /android-x86/kernel
    # set root='lvm/<VG-name>-Android--system'  # adjust to your VG/LV; note the dash escaping
    set root='(lvm/avg-boot)'   # adjust to your VG/LV; note the dash escaping
    linux /kernel video=LVDS-1:d root=/dev/ram0 VOLUME=avg DEBUG=2 SRC=/android-9.0-r2 androidboot.selinux=permissive
    # (Optionally include other params you use, e.g. nomodeset, DPI, etc.)
    initrd /initrd-lvm.img
}




# menuentry "Custom Initrd Test" {
#
#     linux /boot/vmlinuz root=/dev/vg0/root rw quiet
#     initrd /boot/initrd.img
# }
